#App{
    position: flex;
    flex-direction: column;
    /* display: block; */
    max-width: 630px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5) !important;
}
#App:hover{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5) !important;
}
#Main{
    margin: 10px 10px 20px 10px;
}
.nav:hover{
    transform: scale(1.05);
}
.blue:hover{
    color:  rgb(120, 152, 203) !important;
}
.shrink:active{
    transform: scale(0.95);
    background-color: rgb(120, 152, 203) !important;
}
input:hover{
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3) !important;
}